@charset "UTF-8";

:root {
    --cor0: #47A8ED;
    --cor1: #008AED;
    --cor2: #357DB0;
    --cor3: #005EA0;
    --cor4: #00406E;
    --cor5: #003869;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 
    --fonte-android: 

}
