@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --cor0: #47A8ED;
    --cor1: #008AED;
    --cor2: #357DB0;
    --cor3: #005EA0;
    --cor4: #00406E;
    --cor5: #003869;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Patrick Hand', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

.escudo1 {
    background-image: url('imagens/simbolo\ do\ deportivo\ la\ fuinha-transp.JPG');
    background-size: 100% 100%;
    position: relative;
    width: 100px;
    height: 100px;

    left: 25%;
    transform: translate(+60%, +85%);
}

.escudo2 {
    background-image: url('imagens/simbolo\ do\ deportivo\ la\ fuinha-transp.JPG');
    background-position: right right;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    width: 100px;
    height: 100px;

    left: 68%;
    transform: translate(-60%, -100%);

}

header > h1 {
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

header > h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor0);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.459);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}