@charset "UTF-8";

.conteiner {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / 2;
    grid-column: 1 / span 4;

    /*simplificação das propriedades grid-row e grid-column com a propriedade grid-area: é composta pelas medidas iniciais de cada eixo, seguido das dimensões finais
    ex: grid-area 1 / 1 / 2 / 4 - grid-row-start+grid-column-start+grid-row-end+grid-column-end

    exemplo simplificado na propriedade abaixo .caixa2
    */
}

.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: blue;
    grid-row: 2 / 4;
    grid-column: 3 / 5 ;
}

/*
    termos em destaque simbolizam a localização exata da propriedade dos itens em determindas caixa nas suas respectivas localizações através de codificação com os parametros exatos de linhaa e colunas, conforme descrito no esboço da imagem na pasta do exercício

    grid-row-start: 2; 
    grid-row-end: 4;

    simplificação da tag (grid-row: 2 / 4;) ou 2 / span 1

    grid-column-start: 3;
    grid-column-end: 5;

    simplificação da tag (grid-column: 3 / 5;) ou 3 / span 2
    */