@charset "UTF-8";

/* Estilo para telas*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(168, 159, 159);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    background-color: rgb(94, 93, 93);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;

}